<h1>Chi tiết Đơn Hàng #<%= @order.id %></h1>

<p><strong>Tổng Giá:</strong> <%= number_to_currency(@order.total_price) %></p>
<p><strong>Thời gian tạo:</strong> <%= @order.created_at.strftime('%d/%m/%Y %H:%M') %></p>

