.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    margin-bottom: 5px;
}

.coler-text-black {
    color: black; 
}

.coler-text-red {
    color: red; 
}

/* .gradient-background {
    background-color: #ccc;
} */

/*start navbar ----------------------------------------------------------------------------------------------*/
.navbar {
    padding: 10px 300px;
}

.nav-item .badge {
    min-width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 3px;
    margin-top: 15px;
    margin-left: -20px;
}

.search-input {
    width: 500px;
}

.search-button {
    background-color: #ffc107;
    border-color: #ffc107;
    color: black; 
}

.search-button:hover {
    background-color: #ffc107d1;
}

.stretched-link {
    text-decoration: none;
}

/*close navbar ----------------------------------------------------------------------------------------------*/

/*start trang chủ ----------------------------------------------------------------------------------------------*/

.title-clamp {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis;
    height: 50px;
}

.card-fixed-height {
    height: 350px;
    overflow: hidden;  
    box-shadow: 0 1px 2px #B5B5B5;
}

.post-describe {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;
    font-size: 0.7rem; 
    color: #666; 
    margin-bottom: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 50px;
}

.post-image {
    height: 150px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    display: flex;  
    align-items: center;
}

.post-image img {
    width: 100%; 
    max-height: auto; 
}


.post-name {
    font-size: 0.7rem;
    line-height: 1.5; 
    color: #333; 
}

.pagination-centered {
    display: flex;
    justify-content: center;
}

.sold-quantity {
    color: green;
}

/*close trang chủ ----------------------------------------------------------------------------------------*/

/*start phan loai -------------------------------------------------------------------------------------------------*/
.img-category {
    max-width: 150px;
    max-height: auto;

}

.img-category img {
    transition: transform 0.2s, box-shadow 0.2s;
}

.img-category:hover img {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/*close phan loai-------------------------------------------------------------------------------------------------*/

/*start video-------------------------------------------------------------------------------------------------*/
.video-name-all {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.video_name {
    text-align: center;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

#prev-video {
    position: absolute;
    background-color: #b3890ead;
    color: #333;
    height: 20px;
    width: 50px;
}

#next-video {
    position: absolute;
    background-color: #b3890ead;
    color: #333;
    height: 20px;
    width: 50px;
}

.video-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*close video-------------------------------------------------------------------------------------------------*/

/*start show-------------------------------------------------------------------------------------------------*/
.show-flex-container {
    display: flex;
}

.show-flex-image {
    width: 500px; 
    height: auto;
    margin-right: 100px; 
    
}

.show-flex-content {
    flex: 1; 
}

.show-quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.show-quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.show-price {
    color: red;
    font-size: 1.7rem;
}

.btn i {
    margin-right: 5px;
}

.show-first-img {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-button-next {
    position: absolute;
    right: 0;
}

.show-button-prev {
    position: absolute;
    left: 0;
}

.show-first-img .btn {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
    border: none;
}

.show-first-img .btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.show-first-img img {
    max-width: 100%;
    max-height: 100%;
}

.show-image-gallery {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
}

.show-image-gallery img {
    height: 100px;
    margin-right: 10px;
}

#imageModal {
    display: none;
}

.preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.status {
    font-weight: bold;
}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}

.show-bordered-field {
    border: 1px solid #caae0c;
    padding: 10px;   
    border-radius: 5px;  
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 30%; 
    max-height: auto;
}

#modal-prev-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    left: 670px;
}

#modal-next-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    right: 670px;
}

.close {
    position: absolute;
    top: 60px;
    right: 300px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/*close show----------------------------------------------------------------------------------------------*/

/*start chia khối trong cart------------------------------------------------------------------------------*/
.cart-flex-container {
    display: flex; 
}

.cart-flex-image {
    width: 100px; 
    height: auto;
    margin-right: 100px;
    flex: 0 0 100px;
}

.cart-flex-name {
    width: 200px; 
    height: auto;
    margin-right: 50px;
    flex: 0 0 200px;
}

.cart-flex-describe {
    flex: 1;

}

.cart-describe {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    color: #666;
    height: 100px;
}

.cart-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.cart-flex-price {
    width: 100px; 
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
    flex: 0 0 50px;
}

.cart-flex-update {
    width: 50px; 
    height: auto;
    margin-right: 15px;
    flex: 0 0 200px;
}

.cart-card-fixed-height {
    height: 130px;
    overflow: hidden; 
    box-shadow: 0 1px 2px #B5B5B5;
}

.total-price {
    margin-right: auto;
}

.cart-top-name {
    margin-left: 50px;
    margin-right: 50px;
}

.cart-top-describe {
    margin-left: 350px;
}

.cart-top-price {
    margin-left: 250px;
}

.cart-top-quantity {
    margin-left: 50px;
}

.cart-top-update {
    margin-right: 15px;
}
/*close chia khối trong cart--------------------------------------------------------------------------------*/

/* start xem thêm---------------------------------------------------------------------------------------------*/
.content-preview {
    margin-bottom: 10px;
}

.btn-link {
    cursor: pointer;
    color: blue; 
    text-decoration: underline;
    margin-bottom: 5px;
    padding: 1px;
}
/* close xem thêm-----------------------------------------------------------------------------------------------*/

.action-buttons {
    margin-top: 20px;
}

.action-buttons .btn {
    margin-right: 10px;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* start thanh toan--------------------------------------------------------------------------------------------------*/
.pay-cart-item {
    transition: transform 0.2s;
}

.pay-cart-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* close thanh toan--------------------------------------------------------------------------------------------------*/