@import "index";
@import "cart";
@import "category";
@import "navbar";
@import "pay";
@import "show";
@import "video";
.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    margin-bottom: 5px;
}

.coler-text-black {
    color: black; 
}

.coler-text-red {
    color: red; 
}

/* .gradient-background {
    background-color: #ccc;
} */

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
