.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*start trang chủ ----------------------------------------------------------------------------------------------*/
.title-clamp {
    display: -webkit-box; /* Sử dụng flexbox */
    -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
    -webkit-line-clamp: 2; /* Giới hạn số dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Thêm "..." nếu nội dung bị cắt */
    height: 50px;
}

.card-fixed-height {
    height: 350px; /* Chiều cao cố định bạn muốn */
    overflow: hidden;  /*Ẩn nội dung vượt quá */
    box-shadow: 0 1px 2px #B5B5B5;
}

.post-content {
    display: -webkit-box; /* Sử dụng flexbox */
    -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
    -webkit-line-clamp: 6; /* Giới hạn số dòng */
    font-size: 0.7rem; /* Kích thước chữ nội dung */
    color: #666; /* Màu sắc nội dung */
    margin-bottom: 10px; /* Khoảng cách dưới nội dung */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Thêm "..." nếu nội dung bị cắt */
    height: 100px;
}

.post-video {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
    height: auto; /* Tự động điều chỉnh chiều cao */
    border-radius: 5px; /* Bo tròn góc hình ảnh */
    margin-bottom: 10px; /* Khoảng cách dưới hình ảnh */
}

.post-image {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
    height: 100px; /* Tự động điều chỉnh chiều cao */
    border-radius: 5px; /* Bo tròn góc hình ảnh */
    margin-bottom: 10px; /* Khoảng cách dưới hình ảnh */
}

/* app/assets/stylesheets/application.css hoặc .scss */

.post-name {
    font-size: 0.7rem; /* Kích cỡ chữ */
    line-height: 1.5; /* Chiều cao dòng */
    color: #333; /* Màu chữ */
}
/*close trang chủ ----------------------------------------------------------------------------------------*/

/*start chia khối trong show------------------------------------------------------------------------------*/
.show-flex-container {
    display: flex; /* Thiết lập flexbox */
}

.show-flex-image {
    width: 100px; 
    height: auto;
    margin-right: 100px;
    flex: 0 0 100px;
}

.show-flex-name {
    width: 100px; 
    height: auto;
    margin-right: 50px;
    flex: 0 0 100px;
}

.show-flex-describe {
    flex: 1;
}

.show-flex-price {
    width: 100px; 
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    flex: 0 0 50px;
}

.show-flex-update {
    width: 50px; 
    height: auto;
    margin-right: 15px;
    flex: 0 0 400px;
}

.show-flex-content {
    flex: 1; /* Nội dung sẽ chiếm phần còn lại */
    margin-left: 15px;
}

.cart-card-fixed-height {
    height: 130px; /* Chiều cao cố định bạn muốn */
    overflow: hidden;  /*Ẩn nội dung vượt quá */
    box-shadow: 0 1px 2px #B5B5B5;
}
/*close chia khối trong show--------------------------------------------------------------------------------*/

/* start xem thêm---------------------------------------------------------------------------------------------*/
.content-preview {
    margin-bottom: 10px;
}

.btn-link {
    cursor: pointer;
    color: blue; 
    text-decoration: underline;
    margin-bottom: 5px;
    padding: 1px;
}
/* close xem thêm-----------------------------------------------------------------------------------------------*/

.action-buttons {
    margin-top: 20px; /* Khoảng cách phía trên */
}

.action-buttons .btn {
    margin-right: 10px; /* Khoảng cách giữa các nút */
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
