.cart-flex-container {
    display: flex; 
}

.cart-flex-image {
    width: 100px; 
    height: auto;
    margin-right: 100px;
    flex: 0 0 100px;
}

.cart-flex-name {
    width: 200px; 
    height: auto;
    margin-right: 50px;
    flex: 0 0 200px;
}

.cart-flex-describe {
    flex: 1;

}

.cart-describe {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    color: #666;
    height: 100px;
}

.cart-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.cart-flex-price {
    width: 100px; 
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
    flex: 0 0 50px;
}

.cart-flex-update {
    width: 50px; 
    height: auto;
    margin-right: 15px;
    flex: 0 0 200px;
}

.cart-card-fixed-height {
    height: 130px;
    overflow: hidden; 
    box-shadow: 0 1px 2px #B5B5B5;
}

.total-price {
    margin-right: auto;
}

.cart-top-name {
    margin-left: 50px;
    margin-right: 50px;
}

.cart-top-describe {
    margin-left: 350px;
}

.cart-top-price {
    margin-left: 250px;
}

.cart-top-quantity {
    margin-left: 50px;
}

.cart-top-update {
    margin-right: 15px;
}